<!doctype html>
<html lang="en">
  <head>
  	<title>Thêm ngành</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="../../images/favicon.jpg"/>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/e9a6ecd83d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/style.css">
    
    
    
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
          <div class="user">
            <a href="#" class="img logo rounded-circle mb-3" style="background-image: url(../../images/logo.png);"></a>
            <p style="text-align: center">Administrator</p>
          </div>
		  		
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="../../index.html">Trang Chủ</a>
	          </li>
	          
	          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ngành Học</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="../NganhHoc/themnganh.html">Thêm Ngành Học</a>
                </li>
                <li>
                    <a href="../NganhHoc/danhsachnganh.html">Danh Sách Ngành</a>
                </li>
              </ul>
              </li>
              <li>
                <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Đề tài KLTN - CĐTN</a>
                <ul class="collapse list-unstyled" id="pageSubmenu2">
                  <li>
                      <a href="themdetai.html">Thêm Đề Tài</a>
                  </li>
                  <li>
                      <a href="danhsachdetai.html">Danh Sách Đề Tài</a>
                  </li>
                </ul>
                </li>
	          <li>
              <a href="#">About</a>
	          </li>
	          <li>
              <a href="#">Liên Hệ</a>
	          </li>
            <li>
              <a href="#">Đăng Xuất</a>
            </li>
	        </ul>

	        <div class="footer">
	        	
	        </div>

	      </div>
    	</nav>
        
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../../index.html">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                
                </ul>
                </div>
            </div>
            </nav>
            <div>
              <h4 class="text-center mb-3">Thêm đề tài</h4>
            </div>
            <div class="row">
                <form class="col-md-12 add-form">
                  <div class="form-group">
                    <label for="majorId">Mã số đề tài</label>
                    <input type="text" class="form-control" id="majorId">
                  </div>
                  <div class="form-group">
                    <label for="department">Mã ngành học</label>
                    <input type="text" class="form-control" id="majorId">
                  </div>
                  <div class="form-group">
                    <label for="majorId">Tên đề tài</label>
                    <input type="text" class="form-control" id="majorId">
                  </div>
                  <div class="form-group">
                    <label for="department">Mô tả chi tiết đề tài</label>
                    <input type="text" class="form-control" id="majorId">
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="department">Thời gian ước lượng thực hiện</label>
                      <input type="text" class="form-control" id="majorId">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="department">Số sinh viên tối đa cùng làm</label>
                      <input type="text" class="form-control" id="majorId">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="department">Từ khóa</label>
                      <input type="text" class="form-control" id="majorId">
                    </div>
                  </div>
                    
                  

                  <button type="button" class="btn btn-success">Lưu</button>
                  <a href="danhsachdetai.html" class="btn btn-secondary">Quay lại</a>
                </form>
            </div>

            </div>
            
        </div>
    <script src="../../js/Bootstrap&Jquery/jquery.min.js"></script>
    <script src="../../js/Bootstrap&Jquery/popper.js"></script>
    <script src="../../js/Bootstrap&Jquery/bootstrap.min.js"></script>
    <script src="../../js/G-Topic/addTopic.js"></script>

  </body>
</html>